<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../css/login-register.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <title>Visualizza eventi</title>
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link
      rel="stylesheet"
      href="https://jsuites.net/v4/jsuites.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../css/deleteButton.css" />

    <script src="/socket.io/socket.io.js"></script>
    <style>
      .spazio {
        margin-top: 150px;
      }
      .btn-disabled {
        pointer-events: none;
        opacity: 0.65;
      }
      .card {
        max-width: 25%;
        height: 35vh;
        border: 1px solid grey;
        margin-right: 6%;
      }
      #spinner {
        position: relative;
      }
  
      #spinner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 1.0rem;
      }
    </style>
  </head>
  <body>
    <div
      class="d-flex justify-content-center align-items-center"
      style="min-height: 100vh"
      id="spinner"
    >
      <div
        class="spinner-border text-primary"
        role="status"
        style="width: 8rem; height: 8rem"
      ></div>
      <div id="spinner-text">Caricamento...</div>
    </div>
    <div class="container-fluid">
      <div
        class="row justify-content-end fixed-top bg bg-light border-bottom shadow"
        id="navbar"
      >
        <div class="col mb-4 mt-2 ms-3 container-fluid text-start">
          <h1>Eventi programmati</h1>
        </div>
        <div class="col-auto d-flex align-items-center mb-4 mt-2">
          <span class="material-symbols-outlined">

<button class="btn btn-outline-info" id="profilo">person</button>
</span>
          
        </div>
        <div class="col-auto d-flex align-items-center mb-4 mt-2 me-4">
          <span class="material-symbols-outlined">
<button class="btn btn-outline-info" id="logout">logout</button>
</span>
          
        </div>
      </div>
      <div class=" spazio" id="eventi"></div>
    </div>
    <div class="row justify-content-center fixed-bottom mb-5">
      <div class="col-8">
        <div
          class="d-flex justify-content-between align-items-center"
          style="position: sticky; bottom: 0"
        >
          <div class="col-auto text-center">
            <input
              type="button"
              class="btn btn-outline-info"
              id="crea"
              value="Aggiungi nuovo evento"
            />
          </div>
          <div class="col-auto">
            <input
              type="button"
              class="btn btn-outline-info"
              id="inviti"
              value="Vedi inviti"
            />
          </div>
        </div>
      </div>
    </div>
    <script src="../../presenter/javascript/presenter/getAllUserEvents.js" type="module"></script>

  </body>
</html>
